* {
  box-sizing: border-box;
}

body {
  background-color: #222222;
  font-weight: 400;
  font-size: 36px;
  color: white;
  margin: 0;
}

.container {
  max-width: 1310px;
  padding: 0 25px;
  margin: 0 auto;
}

.introduction {
  background: linear-gradient(345deg, #222 45%, rgb(231, 230, 26, 0.1));
}

.introduction-content {
  text-align: center;
  min-height: 1080px;
  padding: 280px 0;
}

.introduction-content__title {
  font-weight: 400;
  font-size: 64px;
  margin: 0;
  margin-bottom: 200px;

}

.introduction-content__text {
  max-width: 941px;
  text-align: center;
  font-weight: 400;
  font-size: 40px;
  margin: 0 auto;
}

.about-html {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bgr-orange {
  background: linear-gradient(170deg, #222222 45%, rgb(255, 101, 30, 0.1));
}

.about-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 280px 0;
}

.about-group__img {
  margin-right: 200px;
}

.about-css {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bgr-blue {
  background: linear-gradient(190deg, #222222 45%, rgb(33, 150, 243, 0.1));
}