@font-face {
  font-family: 'Verdana';
  src: url('../fonts/Verdana/Verdana.woff2') format('woff2');;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'JetBrainsMono';
  src: url('../fonts/JetBrainsMono/JetBrainsMono.woff2') format('woff2');
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
}

body {
  font-weight: 400;
  font-size: 32px;
  color: #222222;
  margin: 0;
}

.section {
  padding: 160px 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.section--bgr-light {
  background-color: #c8fff2;
}

.title {
  margin: 0;
  text-align: center;
  font-family: "Verdana", sans-serif;
  font-weight: 700;
  font-size: 40px;
}

.hero__title {
  margin-bottom: 140px;
}

.hero__group {
  display: flex;
  align-items: center;
  gap: 80px;
}

.group-about__img {
  max-width: 235px;
}

.group-about__texts {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.text {
  margin: 0;
  font-family: "JetBrainsMono", monospace;
}

.section--bgr-dark {
  background-color: #a0ffe8;
}

.advantages__title {
  margin-bottom: 100px;
}

.advantages__cards-group {
  display: flex;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;
}

.advantages__card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-radius: 25px;
  min-width: 360px;
  min-height: 430px;
  padding-top: 25px;
  padding-bottom: 70px;
}

.card__subtitle {
  margin-bottom: 40px;
  max-width: 307px;
  font-size: 24px;
}

.card__text {
  text-align: center;
  max-width: 280px;
  font-size: 24px;
}